.message-code{background:#f5f5f5;border:1px solid #d7d7d7;border-radius:2px;padding:6px 8px;line-height:140%}
.message-help{padding-left:32px;background:#fdfddb url(../images/icons/help.png) 8px 7px no-repeat;border:1px solid #e3e4a3}
.message-info{border:1px solid #d7d7d7}
.message-busy{padding-left:32px;background:#e6f4e1 url(../images/animations/progressStandard.gif) 8px 7px no-repeat;border:1px solid #d3e8ca}
.ui-helper-hidden{display:none}
.ui-helper-hidden-accessible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}
.ui-helper-clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.ui-helper-clearfix{display:inline-block}/*\*/* html 
.ui-helper-clearfix{height:1%}
.ui-helper-clearfix{display:block}/**/
.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}
.ui-state-disabled{cursor:default!important}
.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}
.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}
.ui-widget-content{border:1px solid #ddd;background:#eee url(../images/ui/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;color:#333}
.ui-widget-header{border:1px solid #2b3d70;background:#1e2b4e;color:#fff;font-weight:bold}
.ui-widget-header a{color:#fff}
.ui-state-default,
.ui-widget-content 
.ui-state-default,
.ui-widget-header 
.ui-state-default{border:1px solid #ccc;background:#f6f6f6 url(../images/ui/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#1c94c4}
.ui-state-default a,.ui-state-default a:link,
.ui-state-default a:visited{color:#1c94c4;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,
.ui-widget-header 
.ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header 
.ui-state-focus{border:1px solid white;background:white;font-weight:normal;color:#c77405}.ui-state-hover a,.ui-state-hover a:hover{color:#c77405;text-decoration:none}.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active{border:1px solid #fbd850;background:#fff url(../images/ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#eb8f00}
.ui-state-active a,.ui-state-active a:link,
.ui-state-active a:visited{color:#eb8f00;text-decoration:none}.ui-widget :active{outline:0}.ui-state-highlight,
.ui-widget-content 
.ui-state-highlight,
.ui-widget-header 
.ui-state-highlight{border:1px solid #fed22f;background:#ffe45c url(../images/ui/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;color:#363636}.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#b81900 url(../images/ui/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat;color:#fff}.ui-state-error a,
.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#fff}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#fff}.ui-priority-primary,
.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-icon{width:16px;height:16px;background-image:url(../images/ui/ui-icons_222222_256x240.png)}.ui-widget-content .ui-icon{background-image:url(../images/ui/ui-icons_222222_256x240.png)}.ui-widget-header .ui-icon{background-image:url(../images/ui/ui-icons_ffffff_256x240.png)}.ui-state-default .ui-icon{background-image:url(../images/ui/ui-icons_ef8c08_256x240.png)}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(../images/ui/ui-icons_ef8c08_256x240.png)}.ui-state-active .ui-icon{background-image:url(../images/ui/ui-icons_ef8c08_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(../images/ui/ui-icons_228ef1_256x240.png)}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(../images/ui/ui-icons_ffd27a_256x240.png)}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-off{background-position:-96px -144px}.ui-icon-radio-on{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-tl{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px}.ui-corner-tr{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px}.ui-corner-bl{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px}.ui-corner-br{-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.ui-corner-top{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px}.ui-corner-bottom{-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.ui-corner-right{-moz-border-radius-topright:4px;-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.ui-corner-left{-moz-border-radius-topleft:4px;-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px}.ui-corner-all{-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}.ui-widget-overlay{background:#000 50% 50% repeat;opacity:.20;filter:Alpha(Opacity=20)}.ui-widget-shadow{margin:-5px 0 0 -5px;padding:5px;background:#000 url(../images/ui/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x;opacity:.20;filter:Alpha(Opacity=20);-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:.1px;z-index:99999;display:block}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-dialog{position:absolute;padding:.2em;width:300px;box-shadow:2px 2px 8px rgba(0,0,0,0.5);-moz-box-shadow:2px 2px 8px rgba(0,0,0,0.5);-webkit-box-shadow:2px 2px 8px rgba(0,0,0,0.5)}.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}.ui-dialog .ui-dialog-title{float:left;margin:.1em 16px .1em 0}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:21px;margin:-10px 0 0 0;padding:1px;height:18px}.ui-dialog .ui-dialog-titlebar-close span{display:block;margin:1px}.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus{padding:0}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0;zoom:1}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0 0;background-image:none;margin:.5em 0 0 0;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog .ui-resizable-se{width:14px;height:14px;right:3px;bottom:3px}.ui-draggable .ui-dialog-titlebar{cursor:move}.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{font-weight:normal!important;margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month-year{width:100%}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{width:100%;font-size:1em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}.ui-datepicker td{border:0;padding:2px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.3em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current{float:right}.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-datepicker-cover{display:none;display:block;position:absolute;z-index:-1;filter:mask();top:-4px;left:-4px;width:200px;height:200px}.jstree ul,.jstree li{display:block;margin:0;padding:0;list-style-type:none}.jstree li{display:block;min-height:19px;line-height:19px;white-space:nowrap;margin-left:18px}.jstree-rtl li{margin-left:0;margin-right:18px}.jstree>ul>li{margin-left:0}.jstree-rtl>ul>li{margin-right:0}.jstree ins{display:inline-block;text-decoration:none;width:18px;height:18px;margin:0;padding:0}.jstree a{display:inline-block;line-height:16px;height:16px;color:black;white-space:nowrap;text-decoration:none;padding:1px 2px;margin:0}.jstree a:focus{outline:0}.jstree a>ins{height:16px;width:16px}.jstree a>.jstree-icon{margin-right:3px}.jstree-rtl a>.jstree-icon{margin-left:3px;margin-right:0}li.jstree-open>ul{display:block}li.jstree-closed>ul{display:none}.jstree li a{*border-width:0!important;*padding:0 2px!important}.jstree-default li,.jstree-default ins{background-image:url("../images/tree/d.png");background-repeat:no-repeat;background-color:transparent}.jstree-default li{background-position:-90px 0;background-repeat:repeat-y}.jstree-default li.jstree-last{background:transparent}.jstree-default .jstree-open>ins{background-position:-72px 0}.jstree-default .jstree-closed>ins{background-position:-54px 0}.jstree-default .jstree-leaf>ins{background-position:-36px 0}.jstree-default .jstree-hovered,.jstree-default .jstree-highlighted{background:#c0c0c0;border:1px solid #b0b0b0;padding:0 2px 0 1px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}.jstree-default .jstree-dragging{border:1px solid #b0b0b0;padding:0 2px 0 1px;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}.jstree-default .jstree-clicked{background:#428bca;border:1px solid #428bca;padding:0 2px 0 1px;color:white;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}.jstree-default .jstree-dropping{background:#c0c0c0;border:1px solid #b0b0b0;padding:0 2px 0 1px;color:black;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px}.jstree-default a .jstree-icon{background-position:-56px -19px}.jstree-default a.jstree-loading .jstree-icon{background:url("../images/tree/throbber.gif") center center no-repeat!important}.jstree-default .jstree-no-dots li,.jstree-default .jstree-no-dots .jstree-leaf>ins{background:transparent}.jstree-default .jstree-no-dots .jstree-open>ins{background-position:-18px 0}.jstree-default .jstree-no-dots .jstree-closed>ins{background-position:0 0}.jstree-default .jstree-no-icons a .jstree-icon{display:none}.jstree-default .jstree-search{font-style:italic}.jstree-default .jstree-no-icons .jstree-checkbox{display:inline-block}.jstree-default .jstree-no-checkboxes .jstree-checkbox{display:none!important}.jstree-default .jstree-checked>a>.jstree-checkbox{background-position:-38px -19px}.jstree-default .jstree-unchecked>a>.jstree-checkbox{background-position:-2px -19px}.jstree-default .jstree-undetermined>a>.jstree-checkbox{background-position:-20px -19px}.jstree-default .jstree-checked>a>.jstree-checkbox:hover{background-position:-38px -37px}.jstree-default .jstree-unchecked>a>.jstree-checkbox:hover{background-position:-2px -37px}.jstree-default .jstree-undetermined>a>.jstree-checkbox:hover{background-position:-20px -37px}#vakata-dragged{max-width:100px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;display:block;margin:0;padding:3px 3px 3px 3px;position:absolute;top:-2000px;line-height:12px;z-index:10000;background:#f0f0f0;color:#303030;border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;border:1px solid #707070;z-index:100}#vakata-dragged.jstree-default ins{background:transparent!important}#vakata-dragged.jstree-default .jstree-ok{background:url("../images/tree/d.png") -2px -53px no-repeat!important}#vakata-dragged.jstree-default .jstree-invalid{background:url("../images/tree/d.png") -18px -53px no-repeat!important}#jstree-marker.jstree-default{background:url("../images/tree/d.png") -41px -57px no-repeat!important}#vakata-dragged ins{display:block;text-decoration:none;width:16px;height:16px;margin:0;padding:0;position:absolute;top:0;left:4px}#vakata-dragged .jstree-ok{background:green}#vakata-dragged .jstree-invalid{background:red}#jstree-marker{padding:0;margin:0;line-height:12px;font-size:1px;overflow:hidden;height:12px;width:8px;position:absolute;top:-30px;z-index:10000;background-repeat:no-repeat;display:none;background-color:silver}.jstree-default a.jstree-search{color:aqua}#vakata-contextmenu.jstree-default-context,#vakata-contextmenu.jstree-default-context li ul{background:#f0f0f0;border:1px solid #979797;-moz-box-shadow:1px 1px 2px #999;-webkit-box-shadow:1px 1px 2px #999;box-shadow:1px 1px 2px #999}#vakata-contextmenu.jstree-default-context a{color:black}#vakata-contextmenu.jstree-default-context a:hover,#vakata-contextmenu.jstree-default-context .vakata-hover>a{padding:0 5px;background:#e8eff7;border:1px solid #aecff7;color:black;-moz-border-radius:2px;-webkit-border-radius:2px;border-radius:2px}#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a,#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover{color:silver;background:transparent;border:0;padding:1px 4px}#vakata-contextmenu.jstree-default-context li.vakata-separator{background:white;border-top:1px solid #e0e0e0;margin:0}#vakata-contextmenu.jstree-default-context li ul{margin-left:-4px}.jstree-default li,.jstree-default ins,#vakata-dragged.jstree-default .jstree-invalid,#vakata-dragged.jstree-default .jstree-ok,#jstree-marker.jstree-default{_background-image:url("../images/tree/d.gif")}.jstree-default .jstree-open ins{_background-position:-72px 0}.jstree-default .jstree-closed ins{_background-position:-54px 0}.jstree-default .jstree-leaf ins{_background-position:-36px 0}.jstree-default a ins.jstree-icon{_background-position:-56px -19px}#vakata-contextmenu.jstree-default-context ins{_display:none}#vakata-contextmenu.jstree-default-context li{_zoom:1}.jstree-default .jstree-undetermined a .jstree-checkbox{_background-position:-20px -19px}.jstree-default .jstree-checked a .jstree-checkbox{_background-position:-38px -19px}.jstree-default .jstree-unchecked a .jstree-checkbox{_background-position:-2px -19px}.colorpicker{width:356px;height:176px;overflow:hidden;position:absolute;background:url(../images/colorpicker/custom_background.png);font-family:Arial,Helvetica,sans-serif;display:none}.colorpicker_color{width:150px;height:150px;left:14px;top:13px;position:absolute;background:#f00;overflow:hidden;cursor:crosshair}.colorpicker_color div{position:absolute;top:0;left:0;width:150px;height:150px;background:url(../images/colorpicker/colorpicker_overlay.png)}.colorpicker_color div div{position:absolute;top:0;left:0;width:11px;height:11px;overflow:hidden;background:url(../images/colorpicker/colorpicker_select.gif);margin:-5px 0 0 -5px}.colorpicker_hue{position:absolute;top:13px;left:171px;width:35px;height:150px;cursor:n-resize}.colorpicker_hue div{position:absolute;width:35px;height:9px;overflow:hidden;background:url(../images/colorpicker/custom_indic.gif) left top;margin:-4px 0 0 0;left:0}.colorpicker_new_color{position:absolute;width:60px;height:30px;left:213px;top:13px;background:#f00}.colorpicker_current_color{position:absolute;width:60px;height:30px;left:283px;top:13px;background:#f00}.colorpicker input{background-color:transparent;border:1px solid transparent;position:absolute;font-size:11px;font-family:Arial,Helvetica,sans-serif;color:#898989;top:4px;right:11px;text-align:right;margin:0;padding:0;height:11px}.colorpicker_hex{position:absolute;width:72px;height:22px;background:url(../images/colorpicker/custom_hex.png) top;left:212px;top:142px}.colorpicker_hex input{right:6px}.colorpicker_field{height:22px;width:62px;background-position:top;position:absolute}.colorpicker_field span{position:absolute;width:12px;height:22px;overflow:hidden;top:0;right:0;cursor:n-resize}.colorpicker_rgb_r{background-image:url(../images/colorpicker/custom_rgb_r.png);top:52px;left:212px}.colorpicker_rgb_g{background-image:url(../images/colorpicker/custom_rgb_g.png);top:82px;left:212px}.colorpicker_rgb_b{background-image:url(../images/colorpicker/custom_rgb_b.png);top:112px;left:212px}.colorpicker_hsb_h{background-image:url(../images/colorpicker/custom_hsb_h.png);top:52px;left:282px}.colorpicker_hsb_s{background-image:url(../images/colorpicker/custom_hsb_s.png);top:82px;left:282px}.colorpicker_hsb_b{background-image:url(../images/colorpicker/custom_hsb_b.png);top:112px;left:282px}.colorpicker_submit{position:absolute;width:22px;height:22px;background:url(../images/colorpicker/custom_submit.png) top;left:322px;top:142px;overflow:hidden}.colorpicker_focus{background-position:center}.colorpicker_hex.colorpicker_focus{background-position:bottom}.colorpicker_submit.colorpicker_focus{background-position:bottom}.colorpicker_slider{background-position:bottom}html,body{height:100%}#fancy_overlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#666;display:none;z-index:30}#fancy_wrap{text-align:left}#fancy_loading{position:absolute;height:40px;width:40px;cursor:pointer;display:none;overflow:hidden;background:transparent;z-index:100}#fancy_loading_spinner{position:absolute;top:0;left:0;width:40px;height:480px;background:transparent url('../images/support/fancybox/fancy_progress.png') no-repeat}#fancy_loading_overlay{position:absolute;background-color:#FFF;z-index:30}#fancy_loading_icon{position:absolute;background:url('../images/support/fancybox/fancy_loading.gif') no-repeat;z-index:35;width:16px;height:16px}#fancy_outer{position:absolute;top:0;left:0;z-index:90;padding:18px 18px 33px 18px;margin:0;overflow:hidden;background:transparent;display:none}#fancy_inner{position:relative;width:100%;height:100%;border:1px solid #BBB;background:#FFF}#fancy_content{margin:0;z-index:100;position:absolute}#fancy_div{background:#000;color:#FFF;height:100%;width:100%;z-index:100}#fancy_img{position:absolute;top:0;left:0;border:0;padding:0;margin:0;z-index:100;width:100%;height:100%}#fancy_close{position:absolute;top:-12px;right:-15px;height:30px;width:30px;background:url('../images/support/fancybox/fancy_closebox.png') top left no-repeat;cursor:pointer;z-index:181;display:none}#fancy_frame{position:relative;width:100%;height:100%;display:none}#fancy_ajax{width:100%;height:100%;overflow:auto}#fancy_left,#fancy_right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;z-index:111;display:none;background-image:url('../images/support/fancybox/blank.gif');outline:0}#fancy_left{left:0}#fancy_right{right:0}.fancy_ico{position:absolute;top:50%;margin-top:-15px;width:30px;height:30px;z-index:112;cursor:pointer;display:block}#fancy_left_ico{left:-9999px;background:transparent url('../images/support/fancybox/fancy_left.png') no-repeat}#fancy_right_ico{right:-9999px;background:transparent url('../images/support/fancybox/fancy_right.png') no-repeat}.fancy_bigIframe{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent}#fancy_bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:70;border:0;padding:0;margin:0}.fancy_bg{position:absolute;display:block;z-index:70;border:0;padding:0;margin:0}.fancy_bg_n{top:-18px;width:100%;height:18px;background:transparent url('../images/support/fancybox/fancy_shadow_n.png') repeat-x}.fancy_bg_ne{top:-18px;right:-13px;width:13px;height:18px;background:transparent url('../images/support/fancybox/fancy_shadow_ne.png') no-repeat}.fancy_bg_e{right:-13px;height:100%;width:13px;background:transparent url('../images/support/fancybox/fancy_shadow_e.png') repeat-y}.fancy_bg_se{bottom:-18px;right:-13px;width:13px;height:18px;background:transparent url('../images/support/fancybox/fancy_shadow_se.png') no-repeat}.fancy_bg_s{bottom:-18px;width:100%;height:18px;background:transparent url('../images/support/fancybox/fancy_shadow_s.png') repeat-x}.fancy_bg_sw{bottom:-18px;left:-13px;width:13px;height:18px;background:transparent url('../images/support/fancybox/fancy_shadow_sw.png') no-repeat}.fancy_bg_w{left:-13px;height:100%;width:13px;background:transparent url('../images/support/fancybox/fancy_shadow_w.png') repeat-y}.fancy_bg_nw{top:-18px;left:-13px;width:13px;height:18px;background:transparent url('../images/support/fancybox/fancy_shadow_nw.png') no-repeat}.chzn-container{font-size:12px;position:relative;display:inline-block;zoom:1;*display:inline}.chzn-container .chzn-drop{background:#fff;position:absolute;top:29px;left:0;-webkit-box-shadow:0 4px 5px rgba(0,0,0,.15);-moz-box-shadow:0 4px 5px rgba(0,0,0,.15);box-shadow:0 4px 5px rgba(0,0,0,.15);z-index:1010}.chzn-container-single .chzn-single{background-color:#fff;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f4f4f4',GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#f4f4f4),color-stop(100%,#f4f4f4));background-image:-webkit-linear-gradient(top,#fff 20%,#f6f6f6 50%,#f4f4f4 52%,#f4f4f4 100%);background-image:-moz-linear-gradient(top,#fff 20%,#f6f6f6 50%,#f4f4f4 52%,#f4f4f4 100%);background-image:-o-linear-gradient(top,#fff 20%,#f6f6f6 50%,#f4f4f4 52%,#f4f4f4 100%);background-image:linear-gradient(#fff 20%,#f6f6f6 50%,#f4f4f4 52%,#f4f4f4 100%);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #aaa;-webkit-box-shadow:0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.1);-moz-box-shadow:0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.1);box-shadow:0 0 3px #fff inset,0 1px 1px rgba(0,0,0,0.1);display:block;overflow:hidden;white-space:nowrap;position:relative;height:23px;line-height:24px;padding:0 0 0 8px;color:#444;text-decoration:none}.chzn-container-single .chzn-default{color:#999}.chzn-container-single .chzn-single span{margin-right:26px;display:block;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;-ms-text-overflow:ellipsis;text-overflow:ellipsis}.chzn-container-single .chzn-single abbr{display:block;position:absolute;right:26px;top:6px;width:12px;height:13px;font-size:1px;background:url('../images/chosen/chosen-sprite.png') right top no-repeat}.chzn-container-single .chzn-single abbr:hover{background-position:right -11px}.chzn-container-single.chzn-disabled .chzn-single abbr:hover{background-position:right top}.chzn-container-single .chzn-single div{position:absolute;right:0;top:0;display:block;height:100%;width:18px}.chzn-container-single .chzn-single div b{background:url('../images/chosen/chosen-sprite.png') no-repeat 0 0;display:block;width:100%;height:100%}.chzn-container-single .chzn-search{padding:3px 4px;position:relative;margin:0;white-space:nowrap;z-index:1010}.chzn-container-single .chzn-search input{background:#fff url('../images/chosen/chosen-sprite.png') no-repeat 100% -22px;background:url('../images/chosen/chosen-sprite.png') no-repeat 100% -22px,-webkit-gradient(linear,0 0,0 100%,color-stop(1%,#f4f4f4),color-stop(15%,#fff));background:url('../images/chosen/chosen-sprite.png') no-repeat 100% -22px,-webkit-linear-gradient(top,#f4f4f4 1%,#fff 15%);background:url('../images/chosen/chosen-sprite.png') no-repeat 100% -22px,-moz-linear-gradient(top,#f4f4f4 1%,#fff 15%);background:url('../images/chosen/chosen-sprite.png') no-repeat 100% -22px,-o-linear-gradient(top,#f4f4f4 1%,#fff 15%);background:url('../images/chosen/chosen-sprite.png') no-repeat 100% -22px,linear-gradient(#f4f4f4 1%,#fff 15%);margin:1px 0;padding:4px 20px 4px 5px;outline:0;border:1px solid #aaa;font-family:sans-serif;font-size:1em}.chzn-container-single .chzn-drop{-webkit-border-radius:0 0 4px 4px;-moz-border-radius:0 0 4px 4px;border-radius:0 0 4px 4px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box}.chzn-container-single-nosearch .chzn-search input{position:absolute;left:-9000px}.chzn-container-multi .chzn-choices{background-color:#fff;border-width:1px;border-style:solid;border-color:#d7d7d7;margin:0;padding:0;cursor:text;overflow:hidden;height:auto!important;height:1%;position:relative}.chzn-container-multi .chzn-choices li{float:left;list-style:none}.chzn-container-multi .chzn-choices .search-field{white-space:nowrap;margin:0;padding:0}.chzn-container-multi .chzn-choices .search-field input{color:#666;background:transparent!important;border:0!important;font-family:sans-serif;font-size:100%;height:14px;padding:5px;margin:1px 0;outline:0;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none}.chzn-container-multi .chzn-choices .search-field .default{color:#999}.chzn-container-multi .chzn-choices .search-choice{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-moz-background-clip:padding;-webkit-background-clip:padding-box;background-clip:padding-box;background-color:#e4e4e4;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#f4f4f4',GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#f4f4f4));background-image:-webkit-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);background-image:-moz-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);background-image:-o-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);background-image:linear-gradient(#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);-webkit-box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);-moz-box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);box-shadow:0 0 2px #fff inset,0 1px 0 rgba(0,0,0,0.05);color:#333;border:1px solid #aaa;line-height:12px;padding:3px 20px 3px 5px;margin:3px 0 3px 5px;position:relative;cursor:default}.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled{background-color:#e4e4e4;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#f4f4f4',GradientType=0);background-image:-webkit-gradient(linear,0% 0,0% 100%,color-stop(20%,#f4f4f4),color-stop(50%,#f0f0f0),color-stop(52%,#e8e8e8),color-stop(100%,#f4f4f4));background-image:-webkit-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);background-image:-moz-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);background-image:-o-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);background-image:-ms-linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);background-image:linear-gradient(top,#f4f4f4 20%,#f0f0f0 50%,#e8e8e8 52%,#f4f4f4 100%);color:#666;border:1px solid #ccc;padding-right:5px}.chzn-container-multi .chzn-choices .search-choice-focus{background:#d4d4d4}.chzn-container-multi .chzn-choices .search-choice .search-choice-close{display:block;position:absolute;right:3px;top:4px;width:12px;height:13px;font-size:1px;background:url('../images/chosen/chosen-sprite.png') right top no-repeat}.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover{background-position:right -11px}.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close{background-position:right -11px}.chzn-container .chzn-results{border:1px solid #c3c3c3;border-top:0;margin:0 4px 4px 0;max-height:240px;padding:0 0 0 4px;position:relative;overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}.chzn-container-multi .chzn-results{margin:-1px 0 0;padding:0}.chzn-container .chzn-results li{display:none;line-height:13px;padding:5px 6px;margin:0;list-style:none}.chzn-container .chzn-results .active-result{cursor:pointer;display:list-item}.chzn-container .chzn-results .highlighted{background-color:#428bca;color:#fff}.chzn-container .chzn-results li em{background:#feffde;font-style:normal}.chzn-container .chzn-results .highlighted em{background:transparent}.chzn-container .chzn-results .no-results{background:#f4f4f4;display:list-item}.chzn-container .chzn-results .group-result{cursor:default;color:#999;font-weight:bold}.chzn-container .chzn-results .group-option{padding-left:15px}.chzn-container-multi .chzn-drop .result-selected{display:none}.chzn-container .chzn-results-scroll{background:white;margin:0 4px;position:absolute;text-align:center;width:321px;z-index:1}.chzn-container .chzn-results-scroll span{display:inline-block;height:17px;text-indent:-5000px;width:9px}.chzn-container .chzn-results-scroll-down{bottom:0}.chzn-container .chzn-results-scroll-down span{background:url('../images/chosen/chosen-sprite.png') no-repeat -4px -3px}.chzn-container .chzn-results-scroll-up span{background:url('../images/chosen/chosen-sprite.png') no-repeat -22px -3px}.chzn-container-active .chzn-single{-webkit-box-shadow:0 0 5px rgba(0,0,0,.3);-moz-box-shadow:0 0 5px rgba(0,0,0,.3);box-shadow:0 0 5px rgba(0,0,0,.3);border:1px solid #5897fb}.chzn-container-active .chzn-single-with-drop{border:1px solid #aaa;-webkit-box-shadow:0 1px 0 #fff inset;-moz-box-shadow:0 1px 0 #fff inset;box-shadow:0 1px 0 #fff inset;background-color:#eee;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4',endColorstr='#ffffff',GradientType=0);background-image:-webkit-gradient(linear,0 0,0 100%,color-stop(20%,#f4f4f4),color-stop(80%,#fff));background-image:-webkit-linear-gradient(top,#f4f4f4 20%,#fff 80%);background-image:-moz-linear-gradient(top,#f4f4f4 20%,#fff 80%);background-image:-o-linear-gradient(top,#f4f4f4 20%,#fff 80%);background-image:linear-gradient(#f4f4f4 20%,#fff 80%);-webkit-border-bottom-left-radius:0;-webkit-border-bottom-right-radius:0;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;border-bottom-left-radius:0;border-bottom-right-radius:0}.chzn-container-active .chzn-single-with-drop div{background:transparent;border-left:none}.chzn-container-active .chzn-single-with-drop div b{background-position:-18px 1px}.chzn-container-active .chzn-choices .search-field input{color:#111!important}.chzn-disabled{cursor:default}.chzn-disabled .chzn-single{cursor:default}.chzn-disabled .chzn-choices .search-choice .search-choice-close{cursor:default}.chzn-rtl{text-align:right}.chzn-rtl .chzn-single{padding:0 8px 0 0;overflow:visible}.chzn-rtl .chzn-single span{margin-left:26px;margin-right:0;direction:rtl}.chzn-rtl .chzn-single div{left:3px;right:auto}.chzn-rtl .chzn-single abbr{left:26px;right:auto}.chzn-rtl .chzn-choices .search-field input{direction:rtl}.chzn-rtl .chzn-choices li{float:right}.chzn-rtl .chzn-choices .search-choice{padding:3px 5px 3px 19px;margin:3px 5px 3px 0}.chzn-rtl .chzn-choices .search-choice .search-choice-close{left:4px;right:auto;background-position:right top}.chzn-rtl.chzn-container-single .chzn-results{margin:0 0 4px 4px;padding:0 4px 0 0}.chzn-rtl .chzn-results .group-option{padding-left:0;padding-right:15px}.chzn-rtl.chzn-container-active .chzn-single-with-drop div{border-right:0}.chzn-rtl .chzn-search input{background:#fff url('../images/chosen/chosen-sprite.png') no-repeat -38px -22px;background:url('../images/chosen/chosen-sprite.png') no-repeat -38px -22px,-webkit-gradient(linear,0 0,0 100%,color-stop(1%,#f4f4f4),color-stop(15%,#fff));background:url('../images/chosen/chosen-sprite.png') no-repeat -38px -22px,-webkit-linear-gradient(top,#f4f4f4 1%,#fff 15%);background:url('../images/chosen/chosen-sprite.png') no-repeat -38px -22px,-moz-linear-gradient(top,#f4f4f4 1%,#fff 15%);background:url('../images/chosen/chosen-sprite.png') no-repeat -38px -22px,-o-linear-gradient(top,#f4f4f4 1%,#fff 15%);background:url('../images/chosen/chosen-sprite.png') no-repeat -38px -22px,linear-gradient(#f4f4f4 1%,#fff 15%);padding:4px 5px 4px 20px;direction:rtl}div.radio{padding-left:20px;position:relative}.radio>label{display:inline;cursor:pointer;font-weight:normal!important;line-height:13px}.radio>label>p{margin-bottom:0}.radio>label>input{position:absolute;height:13px;width:13px;top:0;left:0;padding:0}@-moz-document url-prefix(){.radio>label{line-height:12px}}div.checkbox{padding-left:20px;height:13px;position:relative}.checkbox>label{display:inline;cursor:pointer;font-weight:normal!important;line-height:13px}@-moz-document url-prefix(){.checkbox>label{line-height:12px}}.checkbox-disabled{color:#909090;cursor:not-allowed!important}.checkbox>label>input{position:absolute;height:13px;width:13px;top:0;left:0;padding:0}.checkbox-name{display:block;padding-bottom:2px}.checkbox-tree{vertical-align:-1px;margin:0 1px 0 2px}.checkbox-list{height:350px;overflow-y:scroll;border-width:1px;border-style:solid;border-color:#d7d7d7}.checkbox-list-inner{padding:10px}.checkbox-list-toolbar{margin-bottom:10px}.checkbox-list-item{margin:7px 0}.button{outline:0;display:block;background-color:#f5f5f5!important;border:1px solid #d7d7d7;border-radius:2px;font-size:12px;font-weight:normal;font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;padding:0 8px 0 30px;cursor:pointer;color:#303030!important;text-decoration:none!important;height:26px;line-height:26px;margin:0}button.button{height:28px;line-height:20px!important}@-moz-document url-prefix(){.button{line-height:25px}}button.button::-moz-focus-inner{border:0;margin-top:-1px;padding:0}.button-notext{padding-left:24px!important}.button-dropdown.button-notext{padding-left:30px!important}.button-notext>.button-text{display:none}.button-right{float:right}.button-left{float:left;margin-right:8px}.button-positive{color:#529214!important}.button-negative{color:#d12f19!important}.button-group{height:28px}.button-group>.button-extra{padding-top:8px}.button-copy{background:#f5f5f5 url('../images/icons/copy.png') 8px 50% no-repeat}.button-copy-disabled{background:#f5f5f5 url('../images/icons/copyDisabled.png') 8px 50% no-repeat}.button-move{background:#f5f5f5 url('../images/icons/move.png') 8px 50% no-repeat}.button-move-disabled{background:#f5f5f5 url('../images/icons/moveDisabled.png') 8px 50% no-repeat}.button-print{background:#f5f5f5 url('../images/icons/print.png') 8px 50% no-repeat}.button-ok{background:#f5f5f5 url('../images/icons/accept.png') 8px 50% no-repeat}.button-pass{background:#f5f5f5 url('../images/icons/pass.png') 8px 50% no-repeat}.button-ok-disabled{background:#f5f5f5 url('../images/icons/acceptDisabled.png') 8px 50% no-repeat}.button-cancel{background:#f5f5f5 url('../images/icons/cancel.png') 8px 50% no-repeat}.button-view{background:#f5f5f5 url('../images/icons/view.png') 8px 50% no-repeat}.button-add{background:#f5f5f5 url('../images/icons/add.png') 8px 50% no-repeat}.button-columns{background:#f5f5f5 url('../images/icons/columns.png') 8px 50% no-repeat}.button-add-disabled{background:#f5f5f5 url('../images/icons/addDisabled.png') 8px 50% no-repeat}.button-edit{background:#f5f5f5 url('../images/icons/edit.png') 8px 50% no-repeat}.button-delete{background:#f5f5f5 url('../images/icons/delete.png') 8px 50% no-repeat}.button-delete-disabled{background:#f5f5f5 url('../images/icons/deleteDisabled.png') 8px 50% no-repeat}.button-assign{background:#f5f5f5 url('../images/icons/assign.png') 8px 50% no-repeat}.button-assign-disabled{background:#f5f5f5 url('../images/icons/assignDisabled.png') 8px 50% no-repeat}.button-start{background:#f5f5f5 url('../images/icons/start.png') 8px 50% no-repeat}.button-pause{background:#f5f5f5 url('../images/icons/pause.png') 8px 50% no-repeat}.button-stop{background:#f5f5f5 url('../images/icons/stop.png') 8px 50% no-repeat}.button-report{background:#f5f5f5 url('../images/icons/report.png') 8px 50% no-repeat}.button-login{background:#f5f5f5 url('../images/icons/key.png') 8px 50% no-repeat}.button-next{padding:0 30px 0 8px;background:#f5f5f5 url('../images/icons/next.png') 8px 50% no-repeat}.button-next-disabled{padding:0 30px 0 8px;background:#f5f5f5 url('../images/icons/nextDisabled.png') 8px 50% no-repeat}.button-previous{background:#f5f5f5 url('../images/icons/previous.png') 8px 50% no-repeat}.button-busy{background:#f5f5f5 url('../images/animations/progressStandard.gif') 8px 50% no-repeat}.button-reversed{padding:0 30px 0 8px;background-position:top 50% right 8px}.button-dark{background-color:#f0f0f0!important}.button-white{background-color:white!important}.button:hover{background-color:#dff4ff!important;border:1px solid #c2e1ef;color:#369}.button-positive:hover{background-color:#e6efc2!important;border:1px solid #c6d880;color:#529214}.button-negative:hover{background-color:#fbe3e4!important;border:1px solid #fbc2c4;color:#d12f19}.button[disabled],.button-disabled{color:#707070!important;background-color:#f5f5f5;cursor:not-allowed;border:1px solid #d7d7d7}.button[disabled]:hover,.button-disabled:hover{color:#707070!important;background-color:#f5f5f5!important;border:1px solid #d7d7d7!important}.button-droppie-parent{border-top-right-radius:0;border-bottom-right-radius:0;margin:0!important}.button-droppie,.button-droppie:hover{border-left:none;border-top-left-radius:0;border-bottom-left-radius:0;padding:0 4px;height:26px}.button-info{float:right;margin-top:15px;color:#707070;font-weight:normal;font-size:11px}.button-pad-left{margin-left:8px}.caret{display:inline-block;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}.button-caret{margin-left:5px}.toolbar-frame{border:1px solid #d7d7d7;background-color:#f5f5f5;border-radius:2px;padding:8px}.toolbar{border:1px solid #d7d7d7;background-color:#f5f5f5;border-radius:2px;height:26px}.toolbar-standalone{margin-top:2em;margin-bottom:1em}.toolbar-compact{height:22px}.toolbar-inner{padding:0 8px;line-height:26px;color:#505050}@-moz-document url-prefix(){.toolbar-inner{line-height:25px}}.toolbar-inner-pad{margin-right:8px}.toolbar-compact>.toolbar-inner{line-height:22px}.toolbar-menu-item{display:inline;border-right:1px solid #c0c0c0;padding:0 4px 0 8px}.toolbar-menu-item-first{padding-left:0}.toolbar-menu-item-last{border:0;padding-right:0}.toolbar-button{display:block;background-color:#f5f5f5;border-left:1px solid #d7d7d7;font-weight:normal;padding:0 8px 0 30px;cursor:pointer;color:#303030!important;text-decoration:none!important;height:100%;line-height:26px;float:right}@-moz-document url-prefix(){.toolbar-button{line-height:25px}}.toolbar-button:hover{background-color:#dff4ff;color:#369}.toolbar-button-disabled{color:#707070!important;background-color:#f5f5f5;cursor:not-allowed}.toolbar-button-disabled:hover{color:#707070!important;background-color:#f5f5f5;cursor:not-allowed}.toolbar-button-last{border-top-right-radius:5px;border-bottom-right-radius:5px}.toolbar-button-first{border-top-left-radius:5px;border-bottom-left-radius:5px;border-left:0}.toolbar-dropdown{display:block;height:26px;float:left;padding-right:5px;text-decoration:none!important}.toolbar-dropdown-icon{float:left;margin-top:4px}.toolbar-dropdown-text{margin-left:5px}.toolbar-highlighted{padding:1px 3px 2px 3px;background:#ffffda}.toolbar-highlighted:hover{background:#ffffb0}.dropdown{border:1px solid #c0c0c0;position:absolute;display:none;background:white;box-shadow:2px 2px 8px rgba(0,0,0,0.25);z-index:100}.dropdown-menu{margin:0;padding:3px 0;border-radius:2px}.dropdown-menu-grouped{padding:8px}.dropdown-menu-title{background:#f5f5f5;padding:7px;color:#505050;margin:8px 0}.dropdown-menu-separator{height:1px;margin:3px 0;background-color:#e0e0e0}.dropdown-menu-link,.dropdown-menu-link:link,.dropdown-menu-link:active,.dropdown-menu-link:visited{display:block;padding:6px 10px;color:#303030}.dropdown-menu-link-secondary{float:right;font-size:11px;color:#707070}.dropdown-menu-link-highlighted,.dropdown-menu-link-highlighted:link,.dropdown-menu-link-highlighted:active,.dropdown-menu-link-highlighted:visited{background:#d1e6fd}.dropdown-menu-link:hover{background:#428bca;color:white!important;text-decoration:none}.dropdown-menu-link:hover>.dropdown-menu-link-secondary{color:white!important}.dropdown-menu-link-disabled{color:#707070!important;cursor:not-allowed}.dropdown-menu-link-disabled:hover{background:#d0d0d0;color:#707070!important;text-decoration:none}.dropdown-menu-link>img{margin-right:5px}.dropdown-icon{background:url('../images/icons/dropdown.png') no-repeat center right;padding-right:8px}.dropdown-icon-black{background:url('../images/icons/dropdownBlack.png') no-repeat center right;padding-right:8px}.scroll{border:1px solid #d7d7d7;overflow-y:scroll;height:300px;padding:10px}.scroll-auto{overflow-y:auto;max-height:200px}.scroll-auto-inner{margin-right:12px}.tab-body{padding-top:12px}.tab-frame{padding:12px;border:1px solid #d7d7d7;border-top:0;border-radius:0 0 2px 2px}.tab-header{border-bottom:1px solid #d7d7d7;height:27px}.tab-header>a{display:block;float:left;height:26px;padding:0 10px;border-top:1px solid #d0d0d0;border-left:1px solid #d0d0d0;background:#ebebeb;color:#303030;vertical-align:bottom;line-height:26px;text-decoration:none;font-size:12px}.tab-header>a:first-child{margin-left:10px;border-top-left-radius:2px}.tab-header>a:last-child{border-right:1px solid #d0d0d0;border-top-right-radius:2px}.tab-header>a.current{background:white;border-bottom:1px solid white;color:#303030;font-weight:bold}.tab-header-help-link{float:right;margin-top:6px;margin-left:8px;width:13px;height:13px}.bubble{position:absolute;z-index:100}.tooltip{display:none;position:absolute;z-index:10000;border-radius:2px;padding:10px 12px 10px 12px;width:190px;box-shadow:2px 2px 8px rgba(0,0,0,0.20);background:#3a3a3a;color:#f5f5f5}.tooltip-pointer-up{position:absolute;content:'';background:transparent;display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #3a3a3a}.tooltip-pointer-right{position:absolute;content:'';background:transparent;display:inline-block;border-left:6px solid #3a3a3a;border-top:6px solid transparent;border-bottom:6px solid transparent}.tooltip-header{padding-bottom:5px;border-bottom:1px solid #c0c0c0;margin-bottom:8px}.tooltip-help{background:#fafafa;background-image:url('../images/icons/help.png');background-repeat:no-repeat;background-position:10px 10px;outline:0;border:1px solid #d7d7d7;color:#303030}.tooltip-help-link{background-image:url('../images/icons/helpTooltip.png');background-repeat:no-repeat}.tooltip-help-link:hover{background-image:url('../images/icons/helpTooltipHover.png')}.tooltip-help-body{margin-left:22px}.tooltip-goal{background:#fafafa;border:1px solid #d7d7d7;color:#303030;padding:12px}.tooltip-goal-image{border:1px solid #d7d7d7}.tooltip-goal-title{font-size:14px;font-weight:normal;border-bottom:1px solid #d0d0d0;padding-bottom:3px;margin-bottom:1em}.tooltip-goal-step{float:right;font-size:12px;color:#707070}.tooltip-goal-body{font-size:12px}.tooltip-chart{background:#fafafa;border:1px solid #d7d7d7;color:#303030;padding:0}.tooltip-chart-body{padding:10px 12px 10px 12px}.tooltip-chart-note{background:#f0f0f0;border-bottom-left-radius:2px;border-bottom-right-radius:2px;border-top:1px solid #d7d7d7;padding:10px 12px 10px 12px;color:#707070}.tooltip-chart .chart-legend{padding:0 5px}.tooltip-chart .chart-legend-compact{padding:0 0 0 5px}.tooltip-chart .chart-legend .chart-legend-item:last-child{margin-bottom:0}.shortcut{margin-top:1em;text-align:center}kbd{box-sizing:border-box;background-color:#f7f7f7;border:1px solid #ccc;border-radius:3px;box-shadow:0 1px 0 rgba(0,0,0,0.1),0 0 0 2px #fff inset;color:#303030;display:inline-block;height:24px;line-height:24px;margin:0 .1em;min-width:2em;padding:0 8px;text-align:center;vertical-align:bottom}.shortcut-plus{vertical-align:5px}.chart-container{margin-bottom:15px}.chart-line{height:240px}.chart-line-column-graph{overflow:hidden}.chart-line-column-legend{width:240px}.chart-line-column-legend-compact{width:210px}.chart-line-compact .chart-line-column-legend,.chart-line-compact .chart-line-column-legend-compact{display:none}.chart-legend{padding:5px 5px 5px 30px}.chart-legend-compact{padding:5px 0 5px 20px}.chart-legend-title{font-size:14px;color:#707070;height:30px}.chart-legend-title-compact{height:25px}.chart-legend-item{margin-bottom:12px;height:auto}.chart-legend-name{font-weight:bold;color:#505050;padding-top:3px;padding-bottom:1px}


.chart-legend-name-compact-ppp-fix{padding:1px 0}

.chart-legend-name-compact{padding:0}

.chart-legend-name>a{color:#505050!important}

.chart-legend-icon{
	border:1px #a0a0a0 solid;
	width:20px;
	height:20px;
	background:#f2f2f2
}

.chart-legend-description{
	margin-top:4px;
	padding-bottom:3px;
	font-size:11px;
	color:#70707
}



.chart-legend-column-icon{width:32px}.chart-bar{width:125px;background:#f2f2f2 url(../images/layout/barTransparent.png);border:1px #a0a0a0 solid;height:20px}.chart-bar-lg{width:250px}.chart-bar-percent{text-align:right;font-size:16px;line-height:21px;color:#505050;margin-left:10px;width:50px}.chart-bar-percent-compact{font-size:14px;line-height:22px}.chart-bar-custom{float:left;height:20px}.chart-bar-transparent{float:left;background:#eaeaea url(../images/layout/barTransparent.png);height:20px}


.chart-minibar{width:75px;background:#f2f2f2 url(../images/layout/barTransparent.png);border:1px #a0a0a0 solid;height:11px}
.chart-minibar-custom{float:left;height:11px}.chart-minibar-percent{font-weight:bold;color:#505050;text-align:right}
.chart-minibar-percent-compact{font-size:10px}.chart-minibar-column-percent{width:45px}
.chart-minibar-column-graph{width:75px}.chart-bar-column-circle{width:175px}.chart-bar-circle{margin-top:20px;margin-left:40px;border-radius:50%;width:90px;height:90px;background:#f5f5f5;border:1px solid #d7d7d7;text-align:center}.chart-bar-circle-title{padding-top:18px;font-size:26px;color:#505050}.chart-bar-circle-description{font-size:14px;margin-top:8px;color:#909090}.chart-pie{height:240px}.chart-pie-footer-stage1{display:none;text-align:center;color:#505050}.chart-pie-footer-stage2{display:none}.chart-pie-footer-percent{font-size:16px;margin-bottom:8px}.chart-pie-footer-bar{width:305px;margin:0 auto;margin-bottom:8px}.chart-pie-compact{height:290px}.chart-pie-compact .chart-pie-footer-stage1{display:block}.chart-pie-compact .chart-pie-footer-stage2{display:none}.chart-pie-compact .chart-pie-column-percent{display:none}.chart-pie-tiny{height:290px}.chart-pie-tiny>.table{height:225px}.chart-pie-tiny .chart-pie-column-graph{display:none}.chart-pie-tiny .chart-pie-footer-stage1{display:none}.chart-pie-tiny .chart-pie-footer-stage2{display:block}.chart-pie-column-graph{width:250px}.chart-pie-column-legend{width:260px}.chart-pie-column-legend-compact{width:220px}.chart-pie-column-percent{width:140px}.chart-pie-percent{padding-left:20px}

.chart-pie-percent-title{
	font-size:40px;
	color:#505050
}
.chart-pie-percent-description{
	font-size:26px;
	color:#909090
}

.chart-pie-percent-note{
	margin-top:1em
}

textarea{overflow:auto;resize:none;font-size:inherit;font-family:Consolas,Menlo,"Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",Courier New,monospace}.textarea-grippie{background:white url(../images/icons/grippie.png) no-repeat scroll;background-position:center 2px;border-color:#d7d7d7;border-style:solid;border-width:0 1px 1px;cursor:s-resize;height:7px;overflow:hidden;padding-top:0;margin:0}.textarea-with-grippie{border-bottom:none!important}.textarea-dropzone,.textarea-buttons{padding:10px;border-color:#d7d7d7;border-style:solid;border-width:0 1px 1px 1px}.form-inline{display:inline}.form-group{margin-bottom:18px}.form-group-indent{margin:10px 0 0 20px}.form-group>label{display:block;font-weight:bold;margin-bottom:5px}.form-group-expandable>label{cursor:pointer}.form-control{display:block;background:white;border-width:1px;border-style:solid;border-color:#d7d7d7;font-size:inherit;font-family:Verdana,Geneva,Helvetica,Arial,sans-serif;margin:0;width:450px}input.form-control{height:22px;line-height:22px;padding:0 5px}.form-control[disabled]{cursor:not-allowed!important}.form-control[readonly]{color:#707070;background:#f5f5f5}textarea.form-control{padding:5px;font-size:inherit}.form-label-secondary{font-weight:normal!important}.form-label-inline{float:left;margin-right:10px;margin-top:4px}select.form-select{padding:0 2px;height:24px;line-height:24px;background-color:white}optgroup{font-weight:normal}.form-control-small{width:300px}.form-control-tiny{width:150px}.form-control-default{width:462px}.form-control-full{width:calc(100% - 12px)}select.form-control{width:462px}select.form-control-full{width:100%}select.form-control-small{width:312px}select.form-control-tiny{width:162px}.form-control-readonly{color:#707070;background:#f5f5f5}input.form-control-upload{height:25px;box-sizing:border-box;box-sizing:padding-box}.form-control-error{border:1px solid #dc7474!important}.form-control-inline{display:inline}.form-required{color:#ca6666}.form-description{color:gray;font-size:11px;margin-top:4px;line-height:125%;width:450px}.form-description-full{width:100%}.form-separator{margin:20px 0;height:1px;width:462px;border-bottom:1px solid #d7d7d7}.form-separator-full{width:100%}.form-buttons{margin-top:20px}.form-message{background:#f5f5f5;border:1px solid #d7d7d7;border-radius:2px;padding:6px 7px;line-height:140%}.form-box{background:#f5f5f5;border:1px solid #d7d7d7;border-radius:2px;padding:10px;width:440px}.form-toolbar{float:right}.form-indent{margin-left:20px}.form-box-indent{width:420px}.form-radio{margin-bottom:12px}.form-checkbox{margin-bottom:12px}.field-group{padding:0 0 0 125px;clear:both;margin-bottom:10px}.field-group>label{float:left;margin-left:-140px;margin-top:5px;text-align:right;width:130px}.field-group>.form-control{display:inline-block}.field-description{color:gray;font-size:11px;margin-top:4px;line-height:120%}.dialog{display:none;background:white;border:1px solid #505050;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}.dialog-body{padding:12px;overflow:hidden}.dialog-list{margin-bottom:12px}.dialog-title{display:none}.dialog-h1{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;height:24px;line-height:25px;border-bottom:1px solid #c0c0c0;margin-bottom:20px}.dialog-step{float:right;color:#909090}.dialog-buttons{padding:0 12px;margin:5px 0 12px 0}.dialog-buttons-highlighted{margin-bottom:0;padding:10px 12px;border-top:1px solid #e0e0e0;background:#f5f5f5!important}.dialog-buttons-pane-container{margin:0;position:absolute;bottom:0;width:100%}.dialog-buttons-pane-container-dark{border-top:1px solid #e0e0e0;background:#f5f5f5!important}.dialog-buttons-pane{padding:12px}.ui-dialog{padding:0}.ui-dialog .ui-dialog-content{padding:0}.ui-dialog .ui-dialog-titlebar{padding:10px 4px 10px 12px}.ui-dialog .ui-dialog-titlebar-close span{margin:0}.ui-dialog-titlebar{background:#205081;border:0;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}.ui-dialog .ui-state-hover{background:0;color:white;border:1px solid transparent}.ui-dialog .ui-state-focus{background:0;color:white;border:1px solid transparent}.ui-dialog .ui-state-hover .ui-icon{background-image:url(../images/ui/ui-icons_ffffff_256x240.png)}.ui-dialog .ui-state-focus .ui-icon{background-image:url(../images/ui/ui-icons_ffffff_256x240.png)}.ui-dialog .ui-widget-header{font-size:13px;font-weight:normal}.plain{word-wrap:break-word}.markdown{word-wrap:break-word}.markdown strong{color:#505050}.markdown *:last-child{margin-bottom:0}.markdown>:first-child{margin-top:0}.markdown h1{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:14px;font-weight:bold;background:0;border:0;margin:1em 0 1em 0;color:#303030;padding:0;height:inherit;line-height:1.4}.markdown h2{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:13px;font-weight:bold;margin:1em 0 1em 0;color:#303030;padding:0;background:0;border:0}.markdown h3,.markdown h4,.markdown h5,.markdown h6{font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;font-weight:bold;margin:1em 0 1em 0;color:#303030;padding:0}.markdown blockquote{font-style:italic;color:#505050;margin:1em 2em 0 2em}.markdown hr{color:#c0c0c0;background-color:#e0e0e0;margin:1em 0;height:1px;border:0}.markdown pre{margin:1em 0;overflow:auto;padding:2px 0;line-height:140%;white-space:pre-wrap;white-space:-moz-pre-wrap;white-space:-pre-wrap;white-space:-o-pre-wrap;word-wrap:break-word;font-family:Consolas,Menlo,"Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",Courier New,monospace}.markdown code{font-family:Consolas,Menlo,"Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono",Courier New,monospace}.markdown-img-container{padding:0;margin:0;overflow-x:auto;width:450px}.markdown-img{width:425px\9;max-width:425px}:root .markdown-img{width:inherit\9}.markdown ul,.markdown ol,.markdown pre,.markdown blockquote{margin-bottom:0}.markdown ol li p,.markdown ul li p{margin-bottom:1em}.markdown ol{list-style:decimal!important;margin-left:2.5em;margin-top:2px}.markdown ul{list-style:disc!important;margin-left:2em;margin-top:2px}.markdown ol li{display:list-item;padding:1px;line-height:140%}.markdown ul li{display:list-item;padding:1px;line-height:140%}.markdown table{border-collapse:collapse;border-spacing:0;border:0;table-layout:fixed}.markdown table th,.markdown table td{padding:8px;margin:0;text-align:left;line-height:1.2;border:1px solid #d7d7d7;vertical-align:top}.markdown table tr:hover{background:#f1f8fe}.markdown table th{font-weight:bold;background:#f5f5f5;color:#505050}.markdown table th.center,.markdown table td.center{text-align:center}.markdown table th.right,.markdown table td.right{text-align:right}.markdown table .monospace{font-size:inherit!important}.dropzone{box-sizing:border-box;border:2px dashed #d7d7d7;border-radius:2px;background:#f5f5f5;padding-left:12px;padding-bottom:12px;display:none}.dropzone.dz-persistent{display:block}.dropzone.dz-clickable{cursor:pointer}.dropzone:hover,.dropzone.dz-drag-hover{background:#fafafa}.dz-message{text-align:center;margin-top:12px;margin-right:12px;line-height:140%;color:#303030}.dz-preview{position:relative;display:inline-block;vertical-align:top;margin-top:12px;margin-right:12px;border-radius:4px;cursor:default}.dz-hidden-input{z-index:10000}.dz-preview.dz-file-preview .dz-image{box-sizing:border-box;border:1px solid #d7d7d7;background:#ebebeb;background-image:url('../images/dropzone/file.png');background-repeat:no-repeat;background-position:center}.dz-preview.dz-file-preview img{display:none}.dz-image{overflow:hidden;width:90px;height:75px;position:relative;display:block;margin-bottom:10px}.dz-image img{display:block}.dz-details{margin-top:10px;color:#707070;width:90px}.dz-size{float:right}.dz-size strong{font-weight:normal}.dz-filename{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;padding-bottom:1px}.dz-preview:hover .dz-details{display:none}.dz-remove{display:none;margin-top:10px;color:#707070;text-align:center;padding-bottom:1px}.dz-preview:hover .dz-remove{display:block}.dz-remove-link{text-decoration:none;cursor:pointer!important}.dz-preview.dz-processing .dz-progress{opacity:1;-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-ms-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}.dz-preview.dz-complete .dz-progress{opacity:0;-webkit-transition:opacity .4s ease-in;-moz-transition:opacity .4s ease-in;-ms-transition:opacity .4s ease-in;-o-transition:opacity .4s ease-in;transition:opacity .4s ease-in}.dz-preview:not(.dz-processing) .dz-progress{-webkit-animation:pulse 6s ease infinite;-moz-animation:pulse 6s ease infinite;-ms-animation:pulse 6s ease infinite;-o-animation:pulse 6s ease infinite;animation:pulse 6s ease infinite}.dz-progress{opacity:1;pointer-events:none;position:absolute;height:8px;left:50%;top:50%;margin-top:-8px;width:80px;margin-left:-40px;background:rgba(255,255,255,0.9);-webkit-transform:scale(1);border-radius:2px;overflow:hidden}.dz-upload{background:#333;background:linear-gradient(to bottom,#666,#444);position:absolute;top:0;left:0;bottom:0;width:0;-webkit-transition:width 300ms ease-in-out;-moz-transition:width 300ms ease-in-out;-ms-transition:width 300ms ease-in-out;-o-transition:width 300ms ease-in-out;transition:width 300ms ease-in-out}html,body{height:100%}body{margin:0;padding:0;font-size:12px;font-family:Verdana,Geneva,Helvetica,Arial,sans-serif;min-width:960px}#body-container{height:calc(100% - 95px)}.body-with-notice{height:calc(100% - 121px)!important}#body{height:100%;display:none}.table{width:100%;table-layout:fixed;display:table}.row{display:table-row}.column{display:table-cell;vertical-align:top;margin:0;padding:0}.column-p2{width:50%}.column-p3{width:33.333%}.column-p4{width:25%}.column-pad-right{padding-right:8px}.column-pad-left{padding-left:8px}.column-valign{vertical-align:middle}#notice{height:26px;background:#fdfddb}.notice-inner{padding:7px 15px 3px 15px;text-align:center}.notice-help{position:absolute;top:11px;left:15px;content:'';background:transparent;display:inline-block;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #909090}.notice-timeline{margin-top:5px}#return{font-size:12px;position:absolute;top:6px;left:15px;color:#e0e3f4}.return-with-notice{top:32px!important}#top{float:left;width:100%}


.top-section{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size:18px;margin:5px 15px 0 15px;
	color:#f6c342;padding-top:17px;
	padding-bottom:5px
}

.top-section-with-return{
	padding-top:24px
}


/*Zebra Striping a Table*/
tr:nth-child(even){background-color: #FFFBE7}


/*hover line effect*/
tr:hover {
          background-color: #ffff99;
        }

body{margin:10;padding:10}